<div class="resume-about">
  <div class="resume-objective resume-about-child">
      <div class="about-heading">
          <p><strong>OBJECTIVE</strong></p>
      </div>
      <div class="about-discription">
          <p>
              To obtain a challenging position in the professional field where my skills, creativity and leadership qualities can be utilized in maximizing company profits while providing career advancement opportunities in terms of personal and professional growth.
          </p>
      </div>
  </div>
  <div class="resume-technical-skills resume-about-child">
      <div class="about-heading">
          <p><strong>TECHNICAL EXPERTIZE</strong></p>
      </div>
      <div class="about-discription">
          <ul>
              <li>Html/Html5, Css/Css3, Less, Scss, Bootstrap, Flexbox model</li>
              <li>Javascript, Jquery, Angular 6&7</li>
              <li>Good knowledge on Agile development methodologies</li>
              <li>Good knowledge on version control Tool <strong>Git</strong></li>
          </ul>
      </div>
  </div>
</div>