<div>
    <h2 class="my3"><span class="brd-bottom">PROJECTS WORKED</span></h2>
    <h3 class="my2"><span class="brd-bottom">Humana(From 2013 to 2019 October): </span></h3>
    <p>
        Humana is a health insurance company deals with multiple segments like Retail, Group and Specialty, Healthcare Services and Individual Commercial, these includes supplemental benefit plans such as Medicare, Medical, Dental, Vision, Military, Employer and State-based Medicaid contracts.
    </p>
    <h3 class="my2"><span class="brd-bottom">Qualcomm(From 2019 November to till now):</span>  </h3>
    <p>
        Qualcomm Incorporated is an American multinational semiconductor and telecommunications equipment company that designs and markets wireless telecommunications products and services. 
    </p>
</div>