.professional-experience{
    ul {
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-inline-start: 20px;
        margin-top: 20px;
        list-style-type: none;

        li{
            margin: 10px 0;
        }
        li::before{
            color: rgba(226, 34, 8, 0.767);  
            display: inline-block;  
            width: 10px; 
            margin-left: -20px; 
            padding-right: 10px;
            font-weight: bold; 
            font-size:22px;
            content: "\2022";  
        }
    }
}