<div class='professional-experience'>
    <div class='experience'>
        <div class="experience-heading">
            <p><strong>PROFESSIONAL EXPERIENCE</strong></p>
        </div>
        <div class="experience-discription">
            <ul>
                <li>Joined Tata Consultancy Services On November 5th,2012</li>
                <li>Currently working as an I.T.Analyst in FrontEnd Development</li>
                <li><strong>Experience :</strong> 7.3years</li>
            </ul>
        </div>
    </div>
    <div class="summary">
        <div class="summary-heading">
            <p><strong>STRENGTHS</strong></p>
        </div>
        <ul>
            <li>Insightful knowledge of designing responsive web pages with the use of Angular, JavaScript, jQuery, HTML5, CSS3, Less, Bootstrap, Ajax Typescript.</li>
            <li>Able to Works well independently or as a part of a team, quick-learner, able to meet deadlines.</li>
            <li>Capable to talke the ownership of the product development throughout the development life cycle and good experience to interact with client</li>
            <li>Experience in working with software development methodologies like Agile Scrum and Kanban.</li> 
            <li>Positive Thinking and Self-Confident to work in stressed working conditions</li>
            <li>Experience in Testing technologies like Jasmine and version control tools like Git and TFS repositories</li>
        </ul>
    </div>
</div>