.skillbox{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.skillbox-item{
    padding: 10px 22px;
    background-color: rgba(226, 34, 8, 0.767);
    border-radius: 5px;
    color: white;
    margin:auto;
    margin: 10px 20px 10px 0;
}