.resume-container{
    margin: 10px 10%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
}

/* professional experience starts*/
/* professional experience ends */

/* projects info starts*/

/* projects info ends */