
<div class="resume-container">
    <app-resume-header></app-resume-header>
    <div class="flexclass-row space-btn body-container">
        <div class='flex-basis-fortyfive'>
            <app-professional-experience></app-professional-experience>
            <app-projects></app-projects>
        </div>
        <div class='flex-basis-fortyfive'>
            <app-skills></app-skills>
            <app-organization></app-organization>
            <app-education></app-education>
            <app-languages></app-languages>
        </div>
        
    </div>
    
</div>