<div>
    <h2 class="my3"><span class="brd-bottom">LANGUAGE PROFICIENCY</span></h2>
    <div class="flexclass-row my2">
        <div class="flex-basis-twenty flexclass-col">
            <p>Kannada</p>
            <span class="parentbox my1"><span class="childbox one"></span></span>
        </div>
        <div class="flex-basis-twenty flexclass-col">
            <p>English</p>
            <span class="parentbox my1"><span class="childbox two"></span></span>
        </div>
        <div class="flex-basis-twenty flexclass-col">
            <p>Hindi</p>
            <span class="parentbox my1"><span class="childbox two"></span></span>
        </div>
        <div class="flex-basis-twenty flexclass-col">
            <p>Telagu</p>
            <span class="parentbox my1"><span class="childbox three"></span></span>
        </div>
        <div class="flex-basis-twenty flexclass-col">
            <p>Tamil</p>
            <span class="parentbox my1"><span class="childbox three"></span></span>
        </div>
    </div>
</div>