<div class="resume-header">
  <div class="resume-header-child resume-header-child-1">
      <div>
          <img src='{{headerData.profilepic}}' class='profile-pic'/>
      </div>
  </div>
  <div class="resume-header-child resume-header-child-2">
      <div><span class="custom-heading">{{headerData.personName}}</span></div>
      <div>FrontEnd Developer</div>
  </div>
  <div class="resume-header-child resume-header-child-3">
      <div><span cl ass="bold-font">Email: </span>{{headerData.email}}</div>
      <div><span class="bold-font">Mobile number: </span>{{headerData.mobilename}}</div>
  </div>
</div>