<div>
    <h2 class="my2"><span class="brd-bottom">ORGANIZATIONS</span></h2>
    <ul class="organizations-list">
        <li class="mt3"><strong>Tata Consultancy Services:</strong> Joined on 5th Nov,2012 as trainee, got promoted as I.T.Analyst and served 7.5 years
            <p class="my1"><strong>Onsite Experience:</strong> I had been to Uruguay on Deputation for 2 years</p>
        </li>
        <li class="mt3"><strong>Nokia Networks:</strong> Joined Nokia Networks on 8th April,2020 as R&D Engineer and now continuing here</li>
    </ul>
</div>